{% extends "layout.html" %}

{% block title %}
    Get Stock Quote
{% endblock %}

{% block main %}
    <div>
        <h2>Get Quote For Stock</h2>
    </div>
    <div class="container mt-5">
        <form action="/quote" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Stock Symbol" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Get Quote</button>
        </form>
    </div>
{% endblock %}
